# ======================
# Environment & Secrets
# ======================

.env
.env.*
.env.local
src/frontend/src/firebase.js


# ======================
# Python / Flask Backend
# ======================

__pycache__/
**/__pycache__/
*.pyc
*.pyo

venv/
.venv/
env/


# ======================
# Database & Uploads
# ======================

**/*.db
**/uploads/

instance/


# ======================
# Node / Vite Frontend
# ======================

node_modules/
frontend/node_modules/

dist/
build/
frontend/dist/

*.log


# ======================
# OS & Editor
# ======================

.DS_Store
.vscode/